/*BİL209 1. ÖDEV ZEREN KESKİN 200601034-->*/
.buton {
    border: black;
    background-color: inherit;
    padding: 15px 25px;
    font-size: 17px;
    cursor: pointer;
    display: inline-flexbox;
    
    ;
  }
  
  .buton:hover {background: rgb(233, 188, 216);}
  
  .topla {color: rgb(192, 173, 5);}
  .cikar {color: rgb(203, 10, 241);}
  .carp {color: rgb(0, 90, 173);}
  .bol {color: rgb(240, 9, 143);}
  

  h2{margin:1px;
    font-size: 1.5em;
    font-family: sans-serif;
    color:rgb(182, 7, 173);
    text-align: center;
}
  h2 a{color:#2B90A9; text-decoration:none;}
  h2 a:hover{color:#48ceef;

  }
  body {
    margin: 10;
    padding: 15;
    background: linear-gradient(to right, #F8B0E7, #19B3AA);
  }
 .arayuz{

    position: absolute;
    left: 42%;
    top: 10%; 

 }